@media screen and (width>700px) {

    #open-menu,
    #close-menu {
        display: none;
    }

    .nav-list {
        display: flex;
        width: fit-content;
        height: 100%;
        padding: 40px 0;
    }

}


@media screen and (width>900px) {
    header {
        max-width: 1150px;
        margin: auto;
    }

    .nav-items {
        gap: 55px;
    }


    main {
        max-width: 1150px;
        margin: auto;
        grid-template-columns: 67% 31%;
        grid-template-areas: 'home news' 'topnews topnews';
    }

    .home img {
        height: 300px;
    }

    .one {
        justify-content: space-between;
        align-items: center;
        grid-template-columns: 48% 48%;
    }

    .top-news {
        grid-column: 1 /-1;
        grid-template-columns: 31% 31% 31%;
    }
}

@media screen and (width> 1250px) {
    .one {
        grid-template-columns: 324px 373px;
    }

    .news-one small {
        width: 290px;
    }

    .top-news {
        grid-template-columns: 358px 358px 360px;
    }
}