@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
}

:root {
    
    --Soft_orange: hsl(35, 77%, 62%);
    --Soft_red: hsl(5, 85%, 63%);

    /* Neutral */
    
    --Off_white: hsl(36, 100%, 99%);
    --Grayish_blue: hsl(233, 8%, 79%);
    --Dark_grayish_blue: hsl(236, 13%, 42%);
    --Very_dark_blue: hsl(240, 100%, 5%);
}

body {
    background-color: var(--Off_white);
    position: relative;
}

header {
    background-color: var(--Off_white);
    width: 90vw;
    padding: 50px 0 30px;
    margin: auto;
    color: var(--Dark_grayish_blue);
}

.nav-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.2);
    z-index: 1000;
    justify-content: center;
    align-items: end;
}

.nav-list {
    display: none;
    z-index: 1040;
    background-color: var(--Off_white);
    /* position: absolute; */
    top: 0;
    right: 0;
    height: 100vh;
    width: 300px;
    padding: 40px 25px;
    gap: 60px;
    /* display: flex; */
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.nav-items {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 35px;
}

.nav-items.active {
    gap: 35px;
    flex-direction: column;
    justify-content: flex-start;
    align-items: baseline;

}

.nav-items li {
    list-style-type: none;
}

#open-menu {
    cursor: pointer;
}

#close-menu {
    cursor: pointer;
    /* display: none; */
    align-self: flex-end;
}


.hide {
    display: none;
}

.flex {
    display: flex;
}

.place {
    position: absolute;
}

main {
    padding-bottom: 50px;
    width: 90vw;
    display: grid;
    grid-template-columns: 100%;
    grid-template-areas: 'home'
        'news' 'topnews';
    gap: 70px 25px;
    margin: auto;
}

.home {
    grid-area: home;
}

.home img {
    width: 100%;
}

.one {
    display: grid;
    grid-template-columns: 100%;
    gap: 18px;
    margin: 41px 0 0;
}

.head h1 {
    font-size: 56px;
    line-height: 1;
    font-weight: 800;
}

.info {
    display: flex;
    flex-direction: column;
    gap: 30px;
    justify-content: flex-start;
    align-items: baseline;
}

.info p {
    color: var(--Dark_grayish_blue);
    word-spacing: 2px;
    line-height: 1.6;
}

.read-btn {
    background-color: var(--Soft_red);
    color: var(--Very_dark_blue);
    text-transform: uppercase;
    font-weight: 700;
    font-size: 15px;
    letter-spacing: 3px;
    padding: 14px 18px;
    width: 210px;
    border: none;
    transition: all 0.3s ease-in;
    cursor: pointer;
}

.read-btn:hover {
    background-color: var(--Very_dark_blue);
    color: #fff;
}

.news {
    display: flex;
    flex-direction: column;
    gap: 35px;
    grid-area: news;
    padding: 30px 24px;
    background-color: var(--Very_dark_blue);
}

.news h1 {
    color: var(--Soft_orange);
    font-size: 37px;
}

.all-news {
    display: grid;
    grid-template-columns: 100%;
    gap: 33px;
}

.news-one {
    display: grid;
    grid-template-columns: 100%;
    gap: 7px;
}

.news-one p {
    color: white;
    font-weight: 600;
    font-size: 21px;
    cursor: pointer;
    transition: all 0.3s ease-in;
}

.news-one p:hover {
    color: var(--Soft_orange);
}

.news-one small {
    line-height: 1.8;
    font-size: 14px;
    font-weight: 400;
    color: var(--Grayish_blue);
    /* width: 258px; */
}

hr {
    height: 1px;
    border: 0;
    background: var(--Dark_grayish_blue);
}

.top-news {
    grid-area: topnews;
}


.top-news {
    display: grid;
    grid-template-columns: 100%;
    gap: 39px;
}

.news1 {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 26px;
}

#section-img {
    width: 105px;
}

.data {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.data-count {
    color: var(--Soft_red);
    font-size: 32px;
}

.data h3 {
    cursor: pointer;
    font-size: 18px;
    font-weight: 800;
    transition: all 0.3s ease-in;
}

.data h3:hover {
    color: var(--Soft_red);
}

.data p {
    color: var(--Dark_grayish_blue);
    font-size: 15px;
    line-height: 1.6;
}

.no-scroll {
    overflow: hidden;
}